.songRow {
  margin-left: 2.8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  column-rule: #fff;
}
.songRow:hover {
  cursor: pointer;
  background-color: #111;
  opacity: 0.8;
}
.songRow__info {
  margin-left: 2.8rem;
}
.songRow__info > h1 {
  font-size: 1.6rem;
}
.songRow__info > p {
  font-size: 1.4rem;
  margin-top: 0.3rem;
  color: grey;
}
.songRow__album {
  height: 5rem;
  width: 5rem;
}
