@font-face {
  font-family: "OpenSans";
  src: url("./font/OpenSans-Regular.ttf");
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans", sans-serif;
}
html {
  font-size: 62.5%;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  overflow: hidden;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 768px) {
  html {
    font-size: 52%;
  }
}
